@font-face {
  font-family: poppins;
  src: url(../fonts/Poppins-Light.ttf);
  font: weight 300;
}
@font-face {
  font-family: poppins;
  src: url(../fonts/Poppins-Medium.ttf);
  font: weight 400;
}
@font-face {
  font-family: poppins;
  src: url(../fonts/Poppins-Bold.ttf);
  font: weight 600;
}
html {
  scroll-behavior: smooth;
}
body,
html {
  color: white;
  margin: 0%;
  height: 100%;
  font-family: poppins;
}
h2 {
  margin: 0;
  padding: 20px 0;
}
a {
  text-decoration: none;
}
main {
  height: 100%;
}
.menu {
  position: fixed;
  width: 100%;
}
.menu-scroll {
  background-color: rgba(0, 0, 0, 0.5);
}
.menu-scroll ul {
  padding: 10px 0 !important;
}
.menu ul {
  padding: 20px 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  width: 100;
  transition: all 0.6s;
}
.menu ul li {
  list-style: none;
  margin: 0;
}
.menu ul li a {
  color: rgb(255, 255, 255);
  font-size: 24px;
  padding-bottom: 1px;
  text-decoration: none;
}
.menu ul li a:hover {
  border-bottom: 3px solid white;
}

section {
  width: 100½;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section-main {
  background-image: url("../images/MainSection.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-main .hero {
  text-align: center;
  display: grid;
  gap: 30px;
  justify-items: center;
}
.section-main .hero-sub {
  max-width: 750px;
  font-weight: 300;
  font-size: 24px;
}
.section-main .hero-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 28px;
  box-sizing: border-box;

  width: 200px;
  height: 50px;

  color: #fff;
  font-size: 24px;
  text-decoration: none;

  background: green;
  box-shadow: 0px 0px 6px rgb(0 0 0 /25%);
  border-radius: 20px;
}
.section-main .hero-button:hover {
  background: rgb(2, 253, 2);
}

.section-main h1 {
  margin: 0;
  font-size: 96px;
  font-weight: 700;
}

.section-gallery {
  background-image: url("../images/GallerySection.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 150px;
  justify-content: center;
}
.card {
  width: 320px;
  padding: 24px;
  background-color: rgba(88, 88, 88, 0.5);
  box-sizing: border-box;
}
.card img {
  border-radius: 8px;
}
.card .card-content {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
}
.card .card-desc {
  height: 160px;
  overflow: hidden;
}
.card .card-title {
  font-size: 32px;
}
.card .read-more {
  padding: 10px;
  color: white;
  background-color: rgba(88, 88, 88, 0.5);
  border-radius: 8px;
}
.section-about {
  background-image: url("../images/AboutSection.jpg");
}
.section-about > div {
  max-width: 720px;
  margin: auto;
}
.section-about .about-text {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: lighter;
  font-size: 20px;
}
.section-about .about-h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
@media only screen and (max-width: 1024px) {
  .h2 {
    text-align: center;
  }
}
